In [2]:
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np 
import requests 
import gmaps 
import os 

# variable
g_key = "AIzaSyA10uw5m_54V9TUKhgVHckZpY5CnxWBesA"

CityWeather = pd.read_csv("/Users/sarahgrant/Desktop/BCHomeworks/pythonAPIs-challenge/output/cities.csv")
CityWeather.head()

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,pennagaram,12.13,77.90,74.98,83,100,2.44,IN,1601315361
1,1,beringovskiy,63.05,179.32,37.56,74,87,6.58,RU,1601315361
2,2,castro,-24.79,-50.01,78.37,60,96,14.18,BR,1601315361
3,3,atuona,-9.80,-139.03,77.92,72,3,15.26,PF,1601315361
4,4,kolondieba,11.09,-6.89,82.99,64,66,1.86,ML,1601315361

In [21]:
#setting city location, creating new dataframe only containing city lat/lng coords

citylocation = CityWeather[["Lat", "Lng"]]

#creating var containg humidity values
humidity = CityWeather["Humidity"]

#configuring google api key
gmaps.configure(api_key=g_key)

#Creating layout list to use later
layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'}

#creating gmaps figure
fig = gmaps.figure(map_type="TERRAIN", zoom_level=1.5, center=(0,0), layout=layout)

#creating heatmap layer to show humidity in dataframe locations
Humidity_layer = gmaps.heatmap_layer(citylocation, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius= 1.5)
#adding heatmap layer to the figure
fig.add_layer(Humidity_layer)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))

In [22]:
#setting filters for ideal weather vacation spots

Filtered_data = CityWeather.loc[CityWeather['Humidity']<=50]
Filtered_data = Filtered_data.loc[Filtered_data["Max Temp"] >= 60]
Filtered_data = Filtered_data.loc[Filtered_data['Max Temp'] <= 70]
Filtered_data = Filtered_data.loc[Filtered_data['Wind Speed'] <= 10]
print(Filtered_data.count())

#showing filtered data
Filtered_data.head()

Unnamed: 0    17
City Name     17
Lat           17
Lng           17
Max Temp      17
Humidity      17
Cloudiness    17
Wind Speed    17
Country       17
Date          17
dtype: int64

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
92,92,korla,41.76,86.15,60.94,32,34,4.68,CN,1601315216
187,187,baft,29.23,56.61,64.15,38,89,9.26,IR,1601315391
203,203,komsomolskiy,40.43,71.72,64.40,45,99,4.70,UZ,1601315394
224,224,altamont,42.21,-121.74,66.99,33,1,6.93,US,1601315400
276,276,hami,42.80,93.45,64.31,26,100,4.50,CN,1601315415

Create Hotel Map

In [31]:
hotel_df = Filtered_data

#adding new empty columns to dataframe to create areas for new data from api to be added
hotel_df['Hotel Name'] = ""
hotel_df['Hotel Lat'] = ""
hotel_df['Hotel Lng'] = ""
hotel_df['Hotel Rating'] = ""

hotel_df

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng,Hotel Rating
92,92,korla,41.76,86.15,60.94,32,34,4.68,CN,1601315216,,,,
187,187,baft,29.23,56.61,64.15,38,89,9.26,IR,1601315391,,,,
203,203,komsomolskiy,40.43,71.72,64.40,45,99,4.70,UZ,1601315394,,,,
224,224,altamont,42.21,-121.74,66.99,33,1,6.93,US,1601315400,,,,
276,276,hami,42.80,93.45,64.31,26,100,4.50,CN,1601315415,,,,
294,294,talavera de la reina,39.96,-4.83,68.25,36,58,1.23,ES,1601315418,,,,
368,368,aksu,41.12,80.26,60.89,32,24,6.49,CN,1601315434,,,,
392,392,stepnoye,51.40,46.87,60.01,5,87,4.00,RU,1601315438,,,,
407,407,birjand,32.87,59.22,66.20,16,20,9.17,IR,1601315441,,,,
410,410,tres arroyos,-38.37,-60.28,67.82,35,0,8.46,AR,1601315441,,,,
486,486,tocopilla,-22.09,-70.20,66.83,50,20,7.31,CL,1601315453,,,,
492,492,elbistan,38.21,37.20,65.95,33,0,6.73,TR,1601315455,,,,
543,543,boulder,40.08,-105.35,60.80,26,1,6.93,US,1601315225,,,,
547,547,silvan,38.14,41.01,69.80,35,0,6.93,TR,1601315466,,,,
549,549,weiser,44.25,-116.97,64.00,41,1,3.51,US,1601315306,,,,
561,561,sayat,38.78,63.88,62.60,21,75,9.17,TM,1601315470,,,,
563,563,general roca,-39.03,-67.58,68.00,24,15,6.93,AR,1601315471,,,,

In [32]:

# Set parameters for hotel search

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Iterate through 
for index, row in hotel_df.iterrows():
    #specifing latitude values var
    lat = row["Lat"]
    #specifing longidude values var
    lng = row["Lng"]
    #specifing city name value var(only created for print output)
    city = row["City Name"]
    #creating new parameter for the city location coords
    params["Location"] = f'{lat},{lng}'
    #setting the url for the api search
    apiurl = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #api request
    hotel_api = requests.get(apiurl, params=params)
    #making api request info in json format
    hotel_api = hotel_api.json()
   
#exception to let know if hotel information for city list is not found, if found, hotel info added to dataframe(name, exact coords, and rating)
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel_api["results"][0]["name"]
        hotel_df.loc[index, "Hotel Lat"] = hotel_api["results"][0]["geometry"]["location"]['lat']
        hotel_df.loc[index, "Hotel Lng"] = hotel_api["results"][0]["geometry"]["location"]['lng']
        hotel_df.loc[index, "Hotel Rating"] = hotel_api["results"][0]["rating"]

    except:
        print(f"Missing results for {city}, skipping entry")

hotel_df

Missing results for korla, skipping entry
Missing results for baft, skipping entry
Missing results for komsomolskiy, skipping entry
Missing results for altamont, skipping entry
Missing results for hami, skipping entry
Missing results for talavera de la reina, skipping entry
Missing results for aksu, skipping entry
Missing results for stepnoye, skipping entry
Missing results for birjand, skipping entry
Missing results for tres arroyos, skipping entry
Missing results for tocopilla, skipping entry
Missing results for elbistan, skipping entry
Missing results for boulder, skipping entry
Missing results for silvan, skipping entry
Missing results for weiser, skipping entry
Missing results for sayat, skipping entry
Missing results for general roca, skipping entry

,Unnamed: 0,City Name,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Lat,Hotel Lng,Hotel Rating
92,92,korla,41.76,86.15,60.94,32,34,4.68,CN,1601315216,,,,
187,187,baft,29.23,56.61,64.15,38,89,9.26,IR,1601315391,,,,
203,203,komsomolskiy,40.43,71.72,64.40,45,99,4.70,UZ,1601315394,,,,
224,224,altamont,42.21,-121.74,66.99,33,1,6.93,US,1601315400,,,,
276,276,hami,42.80,93.45,64.31,26,100,4.50,CN,1601315415,,,,
294,294,talavera de la reina,39.96,-4.83,68.25,36,58,1.23,ES,1601315418,,,,
368,368,aksu,41.12,80.26,60.89,32,24,6.49,CN,1601315434,,,,
392,392,stepnoye,51.40,46.87,60.01,5,87,4.00,RU,1601315438,,,,
407,407,birjand,32.87,59.22,66.20,16,20,9.17,IR,1601315441,,,,
410,410,tres arroyos,-38.37,-60.28,67.82,35,0,8.46,AR,1601315441,,,,
486,486,tocopilla,-22.09,-70.20,66.83,50,20,7.31,CL,1601315453,,,,
492,492,elbistan,38.21,37.20,65.95,33,0,6.73,TR,1601315455,,,,
543,543,boulder,40.08,-105.35,60.80,26,1,6.93,US,1601315225,,,,
547,547,silvan,38.14,41.01,69.80,35,0,6.93,TR,1601315466,,,,
549,549,weiser,44.25,-116.97,64.00,41,1,3.51,US,1601315306,,,,
561,561,sayat,38.78,63.88,62.60,21,75,9.17,TM,1601315470,,,,
563,563,general roca,-39.03,-67.58,68.00,24,15,6.93,AR,1601315471,,,,

In [34]:
#add the hotel marks to the heatmap

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""

# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [35]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))